<h1>URL Minify</h1>
<h2>Simple project demonstrating URL rerouting and/or shortening.</h2>
<h3>Examples</h3>
<ul>
  <li>http://www.google.com - <a href="http://url-min.herokuapp.com/url/g">http://url-min.herokuapp.com/url/g</a></li>
  <li>http://www.facebook.com - <a href="http://url-min.herokuapp.com/url/fb">http://url-min.herokuapp.com/url/fb</a></li>
  <li>http://news.ycombinator.com - <a href="http://url-min.herokuapp.com/url/hn">http://url-min.herokuapp.com/url/hn</a></li>
</ul>

<h4><a href="url/new">Get started!</a></h4>